 .u-section-1 {
  background-image: linear-gradient(#d3d3d3, #383838);
}

.u-section-1 .u-sheet-1 {
  min-height: 2784px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 3174px auto 0 calc(((100% - 720px) / 2) + -28px);
}

.u-section-1 .u-text-2 {
  margin: 2px auto 0 498px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -39px 87px 0 auto;
  padding: 1px 14px 1px 13px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 5px 87px 0 auto;
  padding: 1px 25px 1px 24px;
}

.u-section-1 .u-text-3 {
  width: 746px;
  margin: 0 197px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -20px 118px 0 auto;
  padding: 1px 25px 1px 24px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -66px auto 0 -175px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-gallery-1 {
  height: 2557px;
  grid-gap: 17px 17px;
  width: 1146px;
  margin: 33px auto 60px -6px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-1 .u-gallery-item-1 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-10 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-11 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-12 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-13 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-14 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-15 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-16 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-17 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-18 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-19 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-20 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-21 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-22 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-23 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-24 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-25 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-26 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-27 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-28 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-29 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-29 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-30 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-30 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-31 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-31 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-32 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-32 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-33 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-33 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-34 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-34 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-35 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-35 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-36 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-36 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-37 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-37 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-38 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-38 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-39 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-39 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-40 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-40 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-41 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-41 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-42 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-42 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-43 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-43 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-44 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-44 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-45 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-45 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-46 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-46 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-47 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-47 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-48 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-48 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-49 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-49 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-50 {
border-radius: 10px;
--effect-scale: 1.25;
  box-shadow: -2px -2px 10px 0px rgba(128,128,128,1);
}
.u-section-1 .u-over-slide-50 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2325px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 70688px;
    margin-left: 411px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    height: 2098px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4834px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-top: 0;
    height: 4607px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7925px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 7698px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 20017px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 19790px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.u-section-2 .u-text-1 {
  width: auto;
  margin: 60px 0 60px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}border-radius: 25px;