html, body {
    user-select: none;
    margin: 0px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
}

button {
    font-family: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.07s;
    margin-right: 3px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

button:focus {
    outline: #808080 solid 3px;
}

/*
  font-family: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
  background-color: var(--text-secondary-color);
  color: white;
  font-size: 20px;
  min-width: 150px;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.07s;
  margin-right: 5px;
  display: inline-block;*/

.edit {
    position: relative;
    z-index: 999999999;
    display: inline
}

.label {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px #fff /* dont remove this */
}

.circlediv {
    position: absolute;
    border-radius: 100%
}

#cursor {
    border-radius: 100%
}

.show-size {
    display: inline
}

input[type = "color"] {
	-webkit-appearance: none;
	border: none;
	width: 25px;
	height: 25px
}

input[type = "color"]::-webkit-color-swatch-wrapper {
	padding: 0
}

input[type = "color"]::-webkit-color-swatch {
	border: none
}

#clear {
    position: fixed;
    bottom: 10px;
    left: 10px
}